.f01 {
    font-family: "Aclonica-Regular", sans-serif;
}

.f02 {
    font-family: "Agdasima-Regular", sans-serif;
}

.f03 {
    font-family: "Agdasima-Bold", sans-serif;
}

.f04 {
    font-family: "Aldrich-Regular", sans-serif;
}

.f05 {
    font-family: "AlexBrush-Regular", sans-serif;
}

.f06 {
    font-family: "Amiri-Regular", sans-serif;
}

.f07 {
    font-family: "Amiri-Bold", sans-serif;
}

.f08 {
    font-family: "Amiri-Italic", sans-serif;
}

.f09 {
    font-family: "Amiri-BoldItalic", sans-serif;
}

.f10 {
    font-family: "Asap-Regular", sans-serif;
}

.f11 {
    font-family: "Asap-Italic", sans-serif;
}

.f12 {
    font-family: "Borel-Regular", sans-serif;
}

.f13 {
    font-family: "BrunoAceSC-Regular", sans-serif;
}

.f14 {
    font-family: "Calligraffitti-Regular", sans-serif;
}

.f15 {
    font-family: "Charm-Regular", sans-serif;
}

.f16 {
    font-family: "Charm-Bold", sans-serif;
}

.f17 {
    font-family: "Codystar-Regular", sans-serif;
}

.f18 {
    font-family: "Codystar-Light", sans-serif;
}

.f19 {
    font-family: "CoveredByYourGrace-Regular", sans-serif;
}

.f20 {
    font-family: "Damion-Regular", sans-serif;
}

.f21 {
    font-family: "DancingScript-Regular", sans-serif;
}

.f22 {
    font-family: "DotGothic16-Regular", sans-serif;
}

.f23 {
    font-family: "Electrolize-Regular", sans-serif;
}

.f24 {
    font-family: "Exo2-Regular", sans-serif;
}

.f25 {
    font-family: "Exo2-Italic", sans-serif;
}

.f26 {
    font-family: "FreckleFace-Regular", sans-serif;
}

.f27 {
    font-family: "Frijole-Regular", sans-serif;
}

.f28 {
    font-family: "GamjaFlower-Regular", sans-serif;
}

.f29 {
    font-family: "GermaniaOne-Regular", sans-serif;
}

.f30 {
    font-family: "Gluten-Regular", sans-serif;
}

.f31 {
    font-family: "Gotu-Regular", sans-serif;
}

.f32 {
    font-family: "GrenzeGotisch-Regular", sans-serif;
}

.f33 {
    font-family: "Gurajada-Regular", sans-serif;
}

.f34 {
    font-family: "HiMelody-Regular", sans-serif;
}

.f35 {
    font-family: "IndieFlower-Regular", sans-serif;
}

.f36 {
    font-family: "Italianno-Regular", sans-serif;
}

.f37 {
    font-family: "JockeyOne-Regular", sans-serif;
}

.f38 {
    font-family: "Julee-Regular", sans-serif;
}

.f39 {
    font-family: "Jura-Regular", sans-serif;
}

.f40 {
    font-family: "JustAnotherHand-Regular", sans-serif;
}

.f41 {
    font-family: "JustMeAgainDownHere-Regular", sans-serif;
}

.f42 {
    font-family: "Kalam-Regular", sans-serif;
}

.f43 {
    font-family: "Kalam-Light", sans-serif;
}

.f44 {
    font-family: "Kalam-Bold", sans-serif;
}

.f45 {
    font-family: "Kavivanar-Regular", sans-serif;
}

.f46 {
    font-family: "KoHo-Regular", sans-serif;
}

.f47 {
    font-family: "KoHo-Light", sans-serif;
}

.f48 {
    font-family: "KoHo-Bold", sans-serif;
}

.f49 {
    font-family: "KoHo-Italic", sans-serif;
}

.f50 {
    font-family: "LaBelleAurore-Regular", sans-serif;
}

.f51 {
    font-family: "Lato-Regular", sans-serif;
}

.f52 {
    font-family: "Lato-Light", sans-serif;
}

.f53 {
    font-family: "Lato-Bold", sans-serif;
}

.f54 {
    font-family: "LeagueScript-Regular", sans-serif;
}

.f55 {
    font-family: "LeckerliOne-Regular", sans-serif;
}

.f56 {
    font-family: "Lobster-Regular", sans-serif;
}

.f57 {
    font-family: "MajorMonoDisplay-Regular", sans-serif;
}

.f58 {
    font-family: "MarckScript-Regular", sans-serif;
}

.f59 {
    font-family: "MaShanZheng-Regular", sans-serif;
}

.f60 {
    font-family: "Merienda-Regular", sans-serif;
}

.f61 {
    font-family: "Metal-Regular", sans-serif;
}

.f62 {
    font-family: "Mohave-Regular", sans-serif;
}

.f63 {
    font-family: "Mohave-Italic", sans-serif;
}

.f64 {
    font-family: "Montez-Regular", sans-serif;
}

.f65 {
    font-family: "Mooli-Regular", sans-serif;
}

.f66 {
    font-family: "MuseoModerno-Regular", sans-serif;
}

.f67 {
    font-family: "MuseoModerno-Italic", sans-serif;
}

.f68 {
    font-family: "NanumPenScript-Regular", sans-serif;
}

.f69 {
    font-family: "Norican-Regular", sans-serif;
}

.f70 {
    font-family: "NothingYouCouldDo-Regular", sans-serif;
}

.f71 {
    font-family: "NovaMono-Regular", sans-serif;
}

.f72 {
    font-family: "NovaRound-Regular", sans-serif;
}

.f73 {
    font-family: "Orbitron-Regular", sans-serif;
}

.f74 {
    font-family: "Oswald-Regular", sans-serif;
}

.f75 {
    font-family: "Pattaya-Regular", sans-serif;
}

.f76 {
    font-family: "PirataOne-Regular", sans-serif;
}

.f77 {
    font-family: "Poppins-Regular", sans-serif;
}

.f78 {
    font-family: "Poppins-Bold", sans-serif;
}

.f79 {
    font-family: "Poppins-Thin", sans-serif;
}

.f80 {
    font-family: "PortLligatSans-Regular", sans-serif;
}

.f81 {
    font-family: "Quantico-Regular", sans-serif;
}

.f82 {
    font-family: "Quantico-Bold", sans-serif;
}

.f83 {
    font-family: "Quantico-Italic", sans-serif;
}

.f84 {
    font-family: "Quintessential-Regular", sans-serif;
}

.f85 {
    font-family: "Qwigley-Regular", sans-serif;
}

.f86 {
    font-family: "Raleway-Regular", sans-serif;
}

.f87 {
    font-family: "Ranga-Regular", sans-serif;
}

.f88 {
    font-family: "Ranga-Bold", sans-serif;
}

.f89 {
    font-family: "Rasa-Regular", sans-serif;
}

.f90 {
    font-family: "Rasa-Italic", sans-serif;
}

.f91 {
    font-family: "Redressed-Regular", sans-serif;
}

.f92 {
    font-family: "ReggaeOne-Regular", sans-serif;
}

.f93 {
    font-family: "RobotoCondensed-Regular", sans-serif;
}

.f94 {
    font-family: "RobotoCondensed-Light", sans-serif;
}

.f95 {
    font-family: "RobotoCondensed-Bold", sans-serif;
}

.f96 {
    font-family: "RockSalt-Regular", sans-serif;
}

.f97 {
    font-family: "Romanesco-Regular", sans-serif;
}

.f98 {
    font-family: "Ruwudu-Regular", sans-serif;
}

.f99 {
    font-family: "Ruwudu-Medium", sans-serif;
}

.f100 {
    font-family: "Ruwudu-Bold", sans-serif;
}

.f101 {
    font-family: "Salsa-Regular", sans-serif;
}

.f102 {
    font-family: "Sansita-Regular", sans-serif;
}

.f103 {
    font-family: "Sansita-Italic", sans-serif;
}

.f104 {
    font-family: "Sansita-Bold", sans-serif;
}

.f105 {
    font-family: "ShortStack-Regular", sans-serif;
}

.f106 {
    font-family: "Silkscreen-Regular", sans-serif;
}

.f107 {
    font-family: "Silkscreen-Bold", sans-serif;
}

.f108 {
    font-family: "SofiaSansCondensed-Regular", sans-serif;
}

.f109 {
    font-family: "SofiaSansCondensed-Italic", sans-serif;
}

.f110 {
    font-family: "SofiaSansExtraCondensed-Regular", sans-serif;
}

.f111 {
    font-family: "SofiaSansExtraCondensed-Italic", sans-serif;
}

.f112 {
    font-family: "SueEllenFrancisco-Regular", sans-serif;
}

.f113 {
    font-family: "Tangerine-Regular", sans-serif;
}

.f114 {
    font-family: "Tangerine-Bold", sans-serif;
}

.f115 {
    font-family: "Teko-Regular", sans-serif;
}

.f116 {
    font-family: "TenorSans-Regular", sans-serif;
}

.f117 {
    font-family: "TradeWinds-Regular", sans-serif;
}

.f118 {
    font-family: "UnifrakturCook-Bold", sans-serif;
}

.f119 {
    font-family: "VT323-Regular", sans-serif;
}